body {
    display: block;
    width: 100%;
    margin: 24px auto;
    text-align: center;
}

#container {
    display: block;
    border: 1px solid gray;
    width: 960px;
    min-height: 450px;
    margin: 24px auto;
}